<div class="bs-example" data-example-id="bordered-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Correo</th>
          <th>Skill</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>          
          <td>{{vm.integrante.nombre}}</td>
          <td>{{vm.integrante.edad}}</td>
          <td>{{vm.integrante.correo}}</td>
          <td>{{vm.integrante.skill}}</td>
        
        </tr>     
      </tbody>
    </table>    
  </div>

 